<p><strong>Homework</strong>, or a<span> </span><strong>homework assignment</strong>, is a set of tasks assigned to<span> </span><a title="Student" href="https://en.wikipedia.org/wiki/Student">students</a><span> </span>by their<span> </span><a title="Teacher" href="https://en.wikipedia.org/wiki/Teacher">teachers</a><span> </span>to be completed outside the<span> </span><a title="Class (education)" href="https://en.wikipedia.org/wiki/Class_(education)">class</a>. Common homework assignments may include required<span> </span><a class="mw-redirect" title="Reading (activity)" href="https://en.wikipedia.org/wiki/Reading_(activity)">reading</a>, a<span> </span><a title="Writing" href="https://en.wikipedia.org/wiki/Writing">writing</a><span> </span>or<span> </span><a title="Typing" href="https://en.wikipedia.org/wiki/Typing">typing</a><span> </span>project,<span> </span><a class="mw-redirect" title="Mathematical exercise" href="https://en.wikipedia.org/wiki/Mathematical_exercise">mathematical exercises</a><span> </span>to be completed, information to be reviewed before a<span> </span><a title="Test (assessment)" href="https://en.wikipedia.org/wiki/Test_(assessment)">test</a>, or other skills to be practiced.</p>
<p>The effect of homework is debated. Generally speaking, homework does not improve academic performance among children<sup class="noprint Inline-Template Template-Fact">[<i><a title="Wikipedia:Citation needed" href="https://en.wikipedia.org/wiki/Wikipedia:Citation_needed"><span title="This claim needs references to reliable sources. (April 2018)">citation needed</span></a></i>]</sup>and may improve academic skills among older students, especially lower-achieving students. Homework also creates stress for students and their parents and reduces the amount of time that students could spend outdoors, exercising, playing, working, sleeping, or in other activities.</p>
<p>Example video:</p>
<p><video preload="none" class="instructure_inline_media_comment" data-media_comment_id="m-3GQ731n8J9jST4CfDrJaYR1n1vJYzfJz" data-media_comment_type="video" controls="controls" poster="https://canvas.instructure.com/media_objects/m-3GQ731n8J9jST4CfDrJaYR1n1vJYzfJz/thumbnail?height=448&amp;type=3&amp;width=550" src="$IMS-CC-FILEBASE$../resoureces/5ae6486048008" data-alt=""></video>Example image:</p>
<p><img src="$IMS-CC-FILEBASE$../resoureces/5ae64865025c5" alt="tfile-1-b.jpg" width="430" height="561" data-api-endpoint="https://canvas.instructure.com/api/v1/files/23584263" data-api-returntype="File"></p>
<p>Bullets:</p>
<ul>
<li>bullet 1</li>
<li>bullet 2</li>
<li>bullet 3</li>
</ul>
<p>Numbers:</p>
<ol>
<li>one</li>
<li>two</li>
<li>three</li>
</ol>
<p><span style="color: #ff6600;">Color</span> <span style="background-color: #ffff00;">Background</span></p>